<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <icon>
        <small-icon>/ProyectoPrueba/img/favicon.ico</small-icon>
        <large-icon>/ProyectoPrueba/img/icon32.jpg</large-icon>
    </icon>
    <display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>adminHashedPswd</param-name>
        <param-value>8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918</param-value>
    </context-param>
    <!--
    <welcome-file-list>
        <welcome-file>[pagina].jsp</welcome-file>
    </welcome-file-list>
    -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!--
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/error404.jsp</location>
    </error-page>
    -->
    <!--
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.example.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    -->
</web-app>
